
/*#F5F6FA  background-color 
#afaeae  light gray
#cccccc  clear gray
#565656  medium gray
#202224  text color
#31AAE1  #362664  #AB87BC  #E5047E */

button  {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #cccccc;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #202224 ;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#362664;
}
#container-calendar {
  width: 770px;
  align-items: center;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #202224 ;
}
#weekdays div {
  /* width: 100px; */

  padding: 15px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.day:hover {
  background-color: #31AAE1;
}

.manha{
  background-color: #A0AADF;
}

.tarde{
  background-color: #8CC7BF;
}

.dia-todo{
  background-color: #AEECAA;
}

.indisponivel{
  background-color: #EE6B6E;
}

.ferias{
  background-color: #717171;
}

.day + #currentDay {
  background-color: #AB87BC;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #362664;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

#novaDisponibilidadeMenu, #deleteEventModal {
  display: none;
  z-index: 20;
  background-color: #e7e7e7;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
  width: 150px;
  cursor:pointer;
  position: relative;
}
#novaDisponibilidadeMenu > h5   {
  padding-top: 5px;
  color:#202224;
}

#novaDisponibilidadeMenu > li   {
  list-style-type: none;
  margin-bottom: 3px;
  color: white;
text-align: center;
}
#novaDisponibilidadeMenu > li:hover{
  background-color: #d4d1d1;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid #362664;
}
#cancelButton, #deleteButton {
  background-color: #565656;
}
#saveButton, #closeButton {
  background-color: #31AAE1;
}
#eventText {
  font-size: 14px;
}

/* fundo preto */
#modalBackDrop {  
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

