.fallback-EN8 {
    background-color: #f5f6fa;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1.5rem 0rem 0rem 3.7rem;
    position: relative;
    width: 100%;
  
    .auto-group-91ty-p5S {
      flex-shrink: 0;
      margin-bottom: 16.9rem;
      width: 102.05rem;
  
      .logocesae-coreshorizontalheadersite-1-bP2 {
        background-image: url('/api/try-prod-us-east-2-first-cluster/projects/NoJvVLqeq132MKmAhoKe4q/files/image/02f863eeff57ade787a44079ccf396e1264a9e15');
        background-position: -0.2232rem 0rem;
        background-size: 224.23% 100%;
        height: 9.1rem;
        position: relative;
        width: 16.7rem;
      }
    }
    
  
      .vector-1-ZUG {
        height: 0.6rem;
        left: 71rem;
        object-fit: contain;
        position: absolute;
        top: 29.1rem;
        vertical-align: top;
        width: 0.9rem;
      }
      .item-2673506-1-fnC {
        height: 74.9rem;
        left: 39.7rem;
        object-fit: cover;
        position: absolute;
        top: 0;
        vertical-align: top;
        width: 87.7rem;
      }
      .frame-1261157044-Py6 {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 26.1rem;
        left: 0;
        position: absolute;
        top: 4.6rem;
        width: 42.4rem;
  
        .frame-1261157043-ikU {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4.9rem;
          width: 100%;
  
          .erro-G1J {
            color: #e5047e;
            display: flex;
            flex-shrink: 0;
            font-family: Nunito Sans, 'Source Sans Pro';
            font-size: 12rem;
            font-weight: 700;
            letter-spacing: 0.02rem;
            line-height: 0.2;
            margin-bottom: 6rem;
            white-space: nowrap;
          }
          .a-pgina-que-tentou-acessar-no-encontrada-jQg {
            color: #202224;
            display: flex;
            flex-shrink: 0;
            font-family: Nunito Sans, 'Source Sans Pro';
            font-size: 2.8rem;
            font-weight: 400;
            letter-spacing: 0.02rem;
            line-height: 1.2857142857;
            max-width: 42.4rem;
          }
          
        }
     
        .button-CZA {
          align-items: center;
          background-color: #362664;
          border-radius: 0.8rem;
          box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.150000006);
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
          height: 5.6rem;
          justify-content: center;
          letter-spacing: 0.02rem;
          line-height: 1.5;
          margin: 0rem 8.8rem 0rem 12.5rem;
          white-space: nowrap;
          width: calc(100% - 21.3rem);
        }

       
  
      
         }
    }

    .auto-group-8tsy-q2U {
      position: relative;
  }
  
  .vector-12-ZUG {
      
      bottom: 0;
      right: 0;
      margin-left: 55%;
  }

   
  